@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

.btn {
  color: #000;
  background-color: #ffd429;
  border-radius: 5px;
  font-size: 15px;
  border: none;
  width: 150px;
  padding: 10px 0;
}

.header {
  padding-top: 62px;
  padding-bottom: 145px;
  background: linear-gradient(135deg, #4dbcfc 22%, #3790d4);
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__info h1 {
  font-size: 37px;
  letter-spacing: 1px;
  line-height: 49px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Ubuntu";
}
.header__info p {
  width: 413px;
  height: 91px;
  font-size: 16px;
  letter-spacing: 0px;
  line-height: 27px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
}
.header__info button {
  width: 222px;
  height: 56px;
}

.offer {
  padding-top: 105px;
  text-align: center;
}
.offer .offer__skills {
  padding-top: 75px;
  padding-bottom: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.offer .offer__skills .skill h2 {
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #201b2d;
  font-weight: 700;
  font-family: "Ubuntu";
}
.offer .offer__skills .skill p {
  width: 298px;
  height: 74px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 22px;
  color: #201b2d;
  font-weight: 400;
  font-family: "Ubuntu";
  text-align: center;
}

.form {
  background-color: #ecf3f8;
  padding-top: 105px;
  padding-bottom: 102px;
  text-align: center;
}
.form h2 {
  margin-bottom: 65px;
}

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.form__content input {
  width: 343px;
  height: 48px;
  border-radius: 3px;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  margin-bottom: 15px;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #201b2d;
  font-weight: 400;
  font-family: "Ubuntu";
  padding: 5px;
}
.form__content button {
  width: 343px;
  height: 56px;
}

.footer {
  text-align: center;
  color: #000;
  background-color: #164d7a;
  padding: 62px 0;
}
.footer p {
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Open Sans";
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 1140px;
  }
}
@media screen and (max-width: 992px) {
  .wrapper {
    max-width: 960px;
  }

  .header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__info .header__text {
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__info p {
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .offer__skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 720px;
  }

  .desctop__img {
    max-width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .wrapper {
    width: 90%;
  }

  input {
    max-width: 100%;
  }

  .btn {
    max-width: 100%;
  }

  .header__text {
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  p {
    max-width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}