@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.btn {
    color: #000;
    background-color: #ffd429;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    width: 150px;
    padding: 10px 0;
}

.header {
    padding-top: 62px;
    padding-bottom: 145px;
    background: linear-gradient(135deg, rgb(77, 188, 252) 22%, rgb(55, 144, 212));
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        font-size: 37px;
        letter-spacing: 1px;
        line-height: 49px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Ubuntu";
    }
    p {
        width: 413px;
        height: 91px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 27px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Open Sans";
    }
    button {
        width: 222px;
        height: 56px;
    }
}

.offer {
    padding-top: 105px;
    text-align: center;
    .offer__skills {
        padding-top: 75px;
        padding-bottom: 125px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .skill {
            h2 {
                font-size: 19px;
                letter-spacing: 0px;
                line-height: 25px;
                color: #201b2d;
                font-weight: 700;
                font-family: "Ubuntu";
            }
            p {
                width: 298px;
                height: 74px;
                font-size: 15px;
                letter-spacing: 0px;
                line-height: 22px;
                color: #201b2d;
                font-weight: 400;
                font-family: "Ubuntu";
                text-align: center;
            }
        }
    }
}

.form {
    background-color: #ecf3f8;
    padding-top: 105px;
    padding-bottom: 102px;
    text-align: center;
    h2 {
        margin-bottom: 65px;
    }
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        width: 343px;
        height: 48px;
        border-radius: 3px;
        background-color: #ffffff;
        border: 1px solid #bbbbbb;
        margin-bottom: 15px;
        font-size: 15px;
        letter-spacing: 0px;
        line-height: 25px;
        color: #201b2d;
        font-weight: 400;
        font-family: "Ubuntu";
        padding: 5px;
    }
    button {
        width: 343px;
        height: 56px;
    }
}

.footer {
    text-align: center;
    color: #000;
    background-color: #164d7a;
    padding: 62px 0;
    p {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 25px;
        color: #ffffff;
        font-weight: 400;
        font-family: "Open Sans";
        text-align: center;
    }
}

@media screen and (max-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
    .header__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        .header__text {
            max-width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        p {
            max-width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    .offer__skills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
    .desctop__img {
        max-width: 90%;
    }
}

@media screen and (max-width: 576px) {
    .wrapper {
        width: 90%;
    }
    input {
        max-width: 100%;
    }
    .btn {
        max-width: 100%;
    }
    .header__text {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}